.root {
	-fx-background: #000000;
	-fx-font-family: "Segoe UI Semibold";
	-fx-font-size: 11pt;
	-fx-base: derive(#1d1d1d,20%);
	-fx-background-radius: 0;
}
.button {
	-fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.menu-item {
	-fx-background: rgb(120,120,120);
}
.menu-button {
	-fx-background: rgb(120,120,120);
}

.combo-box{
	-fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.tab {
	-fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.tab-pane{
    -fx-background-color: #1d1d1d;
	-fx-border-color: #e2e2e2;
    -fx-border-width: 2;
}

#magnetsAnimate{
	-fx-background-color: #eeeeee;
	-fx-border-color: #e2e2e2;
    -fx-border-width: 2;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.chart-plot-background {
    -fx-background-color: #ffffff;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
    -fx-selection-bar: derive(-fx-background,-7%);
    -fx-opacity: 0.9;
}